PORT=3000
POLLED_DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=60m
DIRECT_DATABASE_URL=
REDIS_TTL=60_000
REDIS_URL=
REDIS_LRU_SIZE=5000

#Docker configs
DB_HOST=
DATABASE_URL=
DOCKER_DATABASE_URL=
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
PGADMIN_DEFAULT_EMAIL=
PGADMIN_DEFAULT_PASSWORD=